@font-face {
    font-family:"Outfit-Regular";
    src: url("Outfit/static/Outfit-Regular.ttf");
}
@font-face {
    font-family:"Outfit-Medium";
    src: url("Outfit/static/Outfit-Medium.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
}
#capetch-comingsoon{
 width: 100%;
 height: 100vh;
 position: relative;
}
.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;   
}
.logo{
    width: 357px;
    height: 162px;
    margin-top: 65px;
}
h1 {
    font-family: "Outfit-Medium";
    font-weight: 500;
    font-size: 120px;
    padding-top: 25px;
    text-align: center;
}
p{
    font-family: "Outfit-Regular";
    font-weight: 400;
    font-size: 25px;
    padding-top: 20px;
    color: #A5A8AB;
    width: 640px;
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding-top: 60px;
}
.email input{
    font-family: "Outfit-Regular";
    font-weight: 400;
    font-size: 18px;
    width: 408px;
    height: 58px;
    border: 1px solid #41464A;
    border-radius: 30px;
    color: #A5A8AB;
    padding-left: 20px;
    outline: none;
}
input:focus{
    border: 1px solid orangered;
    
}
 button{
    font-family: "Outfit-Medium";
    font-weight: 500;
    font-size: 16px;
    color: #1F272D;
    width: 170px;
    height: 58px;
    border: 1px solid #1F272D;
    border-radius: 40px;
    background: transparent;
    cursor: pointer;
} 
 
.cross-line-pink {
    width: 100%;
    height: 50px;
    background: #F53580;
     position: absolute;
    bottom: 12%;
    transform: rotate(3deg); 
}
.cross-line-green {
    width: 100%;
    height: 50px;
    background: #B2E24B;
    position: absolute;
    bottom: 15%;
    transform: rotate(-5deg); 
     z-index: 99; 
} 
.cube-orange {
    position: absolute;
    top: 350px;
    left: 90px;
    width: 310px;
    height: 280px;
   animation: cube-rev infinite 2s alternate-reverse;
} 
@keyframes cube-rev{
    0%{
        rotate: 30deg;
    }
    50%{
        rotate: -45deg;
    }
    70%{
        rotate: -70deg;
    }
    90%{
        rotate: -120deg;
    }
    100%{
        rotate: -180deg;
    }
}
@keyframes cube {
    0%{
        rotate: 0deg;
    }
    50%{
        rotate: 45deg;
        transform: translateZ(100px);
    }
    70%{
        rotate: 90deg;
    }
    100%{
        rotate: 180deg;
    }
}
.cube-pink {
    position: absolute;
    top: 349px;
    right: 229px;
    width: 315px;
    height: 290px;
     animation: cube infinite 2s alternate-reverse; 
}

/*  */
.marquee {
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	overflow: hidden;
	pointer-events: none;
	mix-blend-mode: color-burn;
}

.marquee__inner {
	width: fit-content;
	display: flex;
	position: relative;
	transform: translate3d(var(--move-initial), 0, 0);
	animation: marquee 5s linear infinite;
	animation-play-state: paused;
	opacity: 0;
	transition: opacity 0.1s;
}

.marquee .marquee__inner {
	animation-play-state: running;
	opacity: 1;
	transition-duration: 0.4s;
}

/* .marquee span {
  text-align: center;
	white-space: nowrap;
	font-size: var(--item-font-size);
	padding: 0 1vw;
	font-weight: 900;
	line-height: 1.15;
  font-style: italic;
} */
.marquee span {
    padding-top: 3px!important;
    /* text-align: center; */
    /* white-space: nowrap; */
    font-size: 1.9vw;
    padding: 0 1vw;
    font-weight: 500;
    /* font-size: 21px; */
    /* line-height: 1.15; */
}

@keyframes marquee {
	0% {
		transform: translate3d(var(--move-initial), 0, 0);
	}

	100% {
		transform: translate3d(var(--move-final), 0, 0);
	}
}
*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 15px;
}

.credits{
  position: absolute;
  bottom: 20px;
  left: 50px;
}

a {
  color : white;
}

/* body {
	 margin: 0;
	--color-text: #dedede;
	--color-bg: #1a1a1a;
	color: var(--color-text);
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: sofia-pro, sans-serif; 
}  */

/* .menu {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 10vh 0 25vh;
	--marquee-width: 100vw;
	--offset: 20vw;
	--move-initial: calc(-25% + var(--offset));
	--move-final: calc(-50% + var(--offset));
	--item-font-size: 10vw;
	counter-reset: menu;
} */
.menu {
    /* -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; */
    /* user-select: none; */
    /* padding: 10vh 0 25vh; */
    /* --marquee-width: 100vw; */
    --offset: 20vw;
    --move-initial: calc(-21% + var(--offset));
    --move-final: calc(-52% + var(--offset));
    --item-font-size: 2vw;
    /* counter-reset: menu; */
}